/* style.css */
.stTextInput, .stButton>button {
    width: 100%;
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 4px;
}

.stChatMessage {
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stChatMessage.assistant {
    font-size: 1.8em;
    align-self: flex-start;
}

.stChatMessage.user {
    font-size: 1.8em;
    align-self: flex-end;
}
